
body{
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

.branco{
    background-color: white;

}

/* -------------HEADER---------- */
header {
    border-bottom: 1px solid #DBDBDB;
    background-color: #ffffff;
        
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    /* display: block; */

    height: 54px;
    width: 100%;
    /* min-height: 54px; */
    /* padding: 0 185px; */
    z-index: 2;
}
.header-conjunto{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 935px;
    margin: auto;
    height: 100%;
}

.header-esquerda {
    display: flex;
    padding-left: 3px;
    
}

.header-meio{
    border: 1px solid #DBDBDB;
    width: 215px;
    height: 28px;
    color: #979797;
    font-size: 12px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-direita {
    font-size: 20px;
    padding-right: 27px;

}

.logo-instagram {
    color: rgb(240, 240, 240);
    size: 50px;
}
.barra-vertical {
    width: 1px;
    height: 22px;
    color: #DBDBDB;
    background-color: #DBDBDB;
    margin: 0 10px;
}

.icone-insta {
    font-size: 20px;
    margin-left: 8px;
}

/*------------------------------------------- */

/*----------------CORPO DO SITE---------------*/

.box-site {
    display: flex;
    
    max-width: 934px;
    margin: auto;
}
.container-esquerdo{
    width: 614px; 
}

.container-direito{
    width: 293px;
}


/* ----------------BOX ESQUERDO--------- */
.container-postagens {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    
    width: 614px;
    height: 906px;
    margin-bottom: 60px;
    margin-top: 24px;

}

.container-stories {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    
    width: 614px;
    height: 118px;
    margin-top: 88px;

    display: flex;
    align-items: center;
    overflow-x: hidden;

    position: relative;

}
/*---stories------------------------*/

.container-stories span ion-icon{
    z-index: 1;
    position: absolute;
    right: 13px;
    top: 41px;
}
.seta{
    font-size: 31px;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.container-stories img{
    width: 56px;
    height: 56px;
    /* margin: 0px 8px; */
    border-radius: 33px ;
    position: absolute;
    object-fit: cover;
    
    
}

.espaço-story{
    margin-right: 9px;
    margin-left: 9px;
    margin-bottom: 13px;
}

.box-stories{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/stories_background.jpg);
    background-size: cover;
    position: relative;
}

.box-stories span{
    position: absolute;
    bottom: -16px;
    left: 17px;
    font-size: 12px;
    font-weight: 400;
    /* line-height: 14px; */

}


/*---postagens-------------------------*/
.top-foto{
    height: 61px;
    display: flex;
    align-items: center;
}
.top-foto img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-left: 10px;
}

.top-foto p{
    font-weight: 500;
    font-size: 15px;
    margin-left: 10px;
}

.bolinhas{
    font-size: 4px;
    margin-left: 476px;
}
.foto img,
.foto video{
    width: 100%;
    height: 100%;
}

.foto {
    width: 614px;
    height: 612px;
}

.bot-foto{
    height: 76px;
    

}

.bot-foto1{
    height: 50%;
    display: flex;
    align-items: center;
}

.primeiros-icones{
    display: flex;
}
.primeiros-icones ion-icon{
    margin-left: 12px;
}
.ultimo-icone{
    margin-left: 470px;
}

.bot-foto2{
    height: 50%;
    
    display: flex;
    align-items: center;

}

.bot-foto2 img{
    width: 20px;
    border-radius: 10px;
    margin-left: 13px;
}

.bot-foto2 p{
    margin-left: 13px;
}


.box-comentarios small{
    color: rgba(var(--f52,142,142,142),1);
    font-size: 15px;
    display: block;
}
.comentario{
    /* background-color: rgb(207, 171, 171); */
    margin: 8px 0;
    position: relative;   
}

.comentarios-comentarios{
    margin: 0 15px;
}
.comentario span{
    display: inline-block;
    padding-right: 2px;
}
.comentario ion-icon{
    position: absolute;
    right: 0px;
    top: auto;
}
.comentario-aba{
    border-top: 1px solid #DBDBDB;
    
    height: 50px;

    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comentario-aba ion-icon{
    font-size: 30px;
    padding-left: 10px;
}
.comentario-aba p{
    color: #B2DFFC;
    cursor: pointer;
    padding-right: 10px;
}
.comentario-aba input{
    width: 485px;
    outline: none;
    border: none;
    height: 90%;
}

.comentario-aba p:hover{
    transition: 300ms;
    color: #0095F6;
    
}
/*--------------CONTAINER DIREITO--------------------------*/
.box-lateral {

    position: fixed;
    top: 88px;
    right: auto;
    
    width: 293px; 

    /* ---------------------------- */
}
.user{
    color: #262626;
    font-size: 500;
    font-weight: 500;

}

.nome{
    color: #8E8E8E;
    font-size: 12px;
    font-weight: 400;

}

/* --------------------------------- */
.lateral-top{
    height: 100px;
    margin-left: 29px;
    display: flex;
    align-items: center;
    
}

.lateral-top img{
    width: 56px;
    height: 56px;
    border-radius: 26px;
}

.texto p{
    margin-left: 10px;
    line-height: 16px;

}
/* ------------------------------ */
.lateral-mid{
    height: 270px;
    margin-left: 29px;
}

.lateral-mid span {
    font-size: 12px;
}
.sugestoes{
    display: inline-block;
    padding-bottom: 11px;

}

.espaço{
    margin-right: 100px;
}

.mini-perfil{
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 9px;
}

.mini-perfil img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.mini-perfil span.user{
    display: inline-block;
    position: absolute;
    top: 3px;
    padding-left: 7px;
}

.mini-perfil span.nome{
    display: inline-block;
    position: absolute;
    bottom: 3px;
    padding-left: 7px;
}

.mini-perfil span.seguir-botao{
    display: inline-block;
    position: absolute;
    right: 3px;
    top: 10px;
    color: #139EF2;
    font-weight: 500;
}

/* -------------------------------- */
.lateral-bot{
    height: 100px;
    margin-left: 29px;

    font-size: 11px;
    line-height: 12.89px;
    color: #C7C7C7;
}

/* -------------LAYOUT SEM SIDEBAR----------------- */
@media (max-width:935px) {

    .container-direito{
        display: none;
    }

    .container-esquerdo{
        width: 100vw;
    }

    header{
        padding: 0;
    }

    .header-esquerda img{
        padding-left: 16px;
    }
    .header-esquerda ion-icon{
        padding-left: 15px;
    }

    .header-direita ion-icon{
        padding: 0 5px;
    }
    

    .container-stories{
        margin: auto;
        margin-top: 88px;
        
    }

    .container-postagens{
        margin: auto;
        margin-bottom: 60px;
        margin-top: 24px;
        
}
}

/* -------------LAYOUT MOBILE----------------- */
.barra-mobile{
    display: none;
}


@media (max-width:614px) {
    .desktop{
        display: none;
    }

    .container-stories{
        margin-top: 53px;
        background-color: #FAFAFA;
    }

    .container-postagens{
        margin-top: -1px;
    }

    
    .barra-mobile{
        background-color: #FFFFFF;

        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        
        width: 100%;
        height: 54px;

        justify-content: space-around;
        align-items: center;
        font-size: 25px;
    }

    .header-esquerda .barra-vertical,
    .header-meio{
        display: none;
    }

    .header-esquerda ion-icon{
        padding-left: 20px;
    }

    .header-esquerda img{
        padding-left: 215px;
    }

    .header-direita ion-icon.icone-desktop{
        display: none;
    }
}